@font-face {
    font-family: 'Butler';
    font-style: normal;
    font-weight: 400;
    src: local('Butler'), local('Butler-Medium'), url('../fonts/Butler_Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Italic'), local('Alegreya-Italic'), url('../fonts/Alegreya-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), local('Fira-Sans'), url('../fonts/FiraSans-Regular.otf') format('opentype');
}
