@import "typefaces"
@import "spectre/spectre"
@import "spectre/spectre-icons"
@import "docs"

/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix
  from
    padding: 0
  to
    padding: 0

body
  -webkit-animation: androidBugfix infinite 1s
/* end workaround */

#sidebar
  background-image: url('../img/lghtmesh.png')
  background-repeat: repeat
  .s-brand
    h1, h2
      font-size: 25px

canvas.pattern
  max-width: 100%

.flag-links
  margin: 2em 0px
  img
    margin: 0px 20px 0px 0px
    width: 40px

.s-content
  max-width: 100%
